<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="../css/checkout.css">
    <script type="module" src="../js/checkout.js" defer></script>
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <div>
                <a href="../index.html">
                <img src="../storage/img/back.svg">
                </a>
            </div>
            <div>Pago</div>
            <div>
                <img src="../storage/img/sidebar.svg">
            </div>
        </nav>
    </header>
    <main class="main">
        <section class="checkout__details">
            <!-- <article class="details__product">
                <div class="product__imagen">
                    <img src="../storage/img/IMG_2706.webp">
                </div>
                <div class="product__description">
                    <h3>BOXY FIT VULTURES</h3>
                    <small>Oversize</small>
                    <span>85,000$</span>
                </div>
                <div class="product__custom">
                    <img src="../storage/img/option.svg">
                    <div class="product__select">
                        <img src="../storage/img/minusCheckout (1).svg">
                        <span>2</span>
                        <img src="../storage/img/plusCheckout.svg">
                    </div>
                </div>
            </article> -->
        </section>
        <section class="section__shopping">
            <article class="shopping__title">
                <h3>Informaciòn de Pago</h3>
            </article>
            <article class="section__card">
                <!-- <div class="dropdown">
                    <div class="dropdown__button">
                        <div class="shopping__card">
                            <img src="../storage/img/visa.svg">
                            <label>**** **** **** 2143</label>
                        </div> 
                        <div class="shopping__option">
                            <img src="../storage/img/arrow-down.svg">
                        </div>  
                    </div>
                    <div class="dropdown-content">
                        <div class="shopping__card">
                            <img src="../storage/img/visa.svg">
                            <label>**** **** **** 2143</label>
                        </div> 
                        <div class="shopping__card">
                            <img src="../storage/img/visa.svg">
                            <label>**** **** **** 2143</label>
                        </div> 
                    </div>
                </div> -->
            </article>
            <article class="section__bill">
                <div class="bill__total">
                    <label id="labelItems">Total (0 items)</label>
                    <span id = "precioSpan">$0</span>
                </div>
                <div class="bill__free">
                    <label>Valor de envio</label>
                    <span>$0</span>
                </div>
                <div class="bill__subtotal">
                    <label>Sub Total</label>
                    <span id="subTotalSpan">$   0</span>
                </div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="#">
                    <span>Pagar</span>
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>