<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="../css/detail.css">
    <script type="module" src="../js/detail.js" defer></script>
</head>
<body>
    <main class="main">
        <section id="main__section__gallery" class="main__section">
            <!-- <article class="article__product">
                <div class="product__image">
                    <img src="../storage/img/IMG_2706.webp">
                </div>
                <div class="product__menu">
                    <a href="../index.html">
                        <img src="../storage/img/back.svg">
                    </a>
                    <img src="../storage/img/heartBlack.svg">
                </div>
            </article> -->
        </section>
        <section id = "main__section__title" class="main__section">
            <!-- <article class="article__detail">
                <div class="detail__head">
                    <h1>BOXY FIT VULTURES</h1>
                    <div class="product__select">
                        <img src="../storage/img/minus.svg">
                        <span>1</span>
                        <img src="../storage/img/plus.svg">
                    </div>
                </div>
                <div class="detail__score">
                    <img src="../storage/img/star.svg">
                    <img src="../storage/img/star.svg">
                    <img src="../storage/img/star.svg">
                    <img src="../storage/img/star.svg">
                    <img src="../storage/img/star.svg">
                    <span>5.0</span>
                    <p>(<a href="#">(7.932) reseñas</a>)</p>
                </div>
            </article> -->
        </section>
        <section id = "main__section__description" class="main__section">
            <!-- <article class="product__information">
                <p>Camiseta confeccionada a base de algodón peinado pesado,
                diseñada para ofrecer un ajuste unisex que combina comodidad y
                 estilo de <strong> Leer mas ...</strong></p>
            </article> -->
            <hr>
        </section>
        <section class="main__section">
            <article class="product__custom">
                <div class="product__size">
                    <h5>Talla</h5>
                    <div class="size">
                        <div class="circle_size">S</div>
                        <div class="circle_size">M</div>
                        <div class="circle_size">L</div>
                        <div class="circle_size">XL</div>
                    </div> 
                </div>
                <div class="product__color">
                    <h5>Color</h5>
                    <div class="color">
                        <div class="circle_color1"></div>
                        <div class="circle_color2"></div>
                        <div class="circle_color3"></div>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer id = "footer__details" class="footer">
        <!-- <ul class="footer__ul">
            <li>
                <a href="checkout.html">
                    <img src="../storage/img/shopping-cart.svg">
                    <span>Agregar al carrito | 70,000$ <del>85,000$</del></span>
                </a>
            </li>
        </ul> -->
    </footer>
</body>
</html>